
      <input type="button" id="AddSpace" (click)="this.M_Light_CS.mode_FastRunWithoutTrace([[0,0,255,1]])" onkeydown=""
      value="mode_FastRunWithoutTrace" class="ButtonStyle">
      <input type="button" id="AddSpace" (click)="this.M_Light_CS.mode_T0()" onkeydown=""
      value="mode_T0" class="ButtonStyle">
      <input type="button" id="AddSpace" (click)="this.M_Light_CS.mode_T1()" onkeydown=""
      value="mode_T1" class="ButtonStyle">
      <input type="button" id="AddSpace" (click)="this.M_Light_CS.mode_T2()" onkeydown=""
      value="mode_T2" class="ButtonStyle">
      <input type="button" id="AddSpace" (click)="this.M_Light_CS.mode_T3()" onkeydown=""
      value="mode_T3" class="ButtonStyle">
      <input type="button" id="AddSpace" (click)="this.M_Light_CS.mode_Wave()" onkeydown=""
      value="mode_Wave" class="ButtonStyle">
      <input  type="button" id="AddSpace" (click)="this.M_Light_CS.mode_SpreadLeftAndRight()" onkeydown=""
      value="mode_SpreadLeftAndRight" class="ButtonStyle">
      <input  type="button" id="AddSpace" (click)="this.M_Light_CS.mode_gloriousMode()" onkeydown=""
      value="mode_gloriousMode" class="ButtonStyle">
      <input  type="button" id="AddSpace" (click)="this.M_Light_CS.mode_Pingpong()" onkeydown=""
      value="mode_Pingpong" class="ButtonStyle">
      
      <input  type="button" id="AddSpace" (click)="GMMK_imgVisible()" onkeydown=""
      value="GMMK_imgVisible" class="ButtonStyle">

      <input  type="button" id="AddSpace" (click)="this.M_Light_CS.mode_Matrix3_Raindow()" onkeydown=""
      value="mode_Matrix3_Raindow" class="ButtonStyle">
      <input  type="button" id="AddSpace" (click)="this.M_Light_CS.mode_Matrix3_SingleColor()" onkeydown=""
      value="mode_Matrix3_SingleColor" class="ButtonStyle">

      <input  type="button" id="AddSpace" (click)="this.M_Light_CS.mode_Matrix2()" onkeydown=""
      value="mode_Matrix2" class="ButtonStyle">
      <input  type="button" id="AddSpace" (click)="this.M_Light_CS.mode_Matrix2([],true)" onkeydown=""
      value="mode_Matrix2_rainbow" class="ButtonStyle">
      <input  type="button" id="AddSpace" (click)="this.M_Light_CS.mode_DigitTimes()" onkeydown=""
      value="mode_DigitTimes" class="ButtonStyle">
      <input  type="button" id="AddSpace" (click)="this.M_Light_CS.mode_PassWithoutTrace()" onkeydown=""
      value="mode_PassWithoutTrace" class="ButtonStyle">
      
      <input  type="button" id="AddSpace" (click)="this.M_Light_CS.mode_HeartbeatSensor()" onkeydown=""
      value="mode_HeartbeatSensor" class="ButtonStyle">
      
      <input  type="button" id="AddSpace" (click)="this.M_Light_CS.mode_Rainbow()" onkeydown=""
      value="mode_Rainbow" class="ButtonStyle">
   
      <input  type="button" id="AddSpace" (click)="this.M_Light_CS.mode_SlopeRight()" onkeydown=""
      value="mode_SlopeRight" class="ButtonStyle">
      <input  type="button" id="AddSpace" (click)="this.M_Light_CS.mode_SlopeMoveR()" onkeydown=""
      value="mode_SlopeMoveR" class="ButtonStyle">
      <input  type="button" id="AddSpace" (click)="this.M_Light_CS.mode_Cooking()" onkeydown=""
      value="mode_Cooking" class="ButtonStyle">
      <input  type="button" id="AddSpace" (click)="this.M_Light_CS.mode_RippleGraff()" onkeydown=""
      value="mode_RippleGraff" class="ButtonStyle">

      <input  type="button" id="AddSpace" (click)="this.M_Light_CS.mode_RippleGraff([[0,0,255,1]],false)" onkeydown=""
      value="mode_RippleGraff_Single" class="ButtonStyle">
      

      <input  type="button" id="AddSpace" (click)="this.M_Light_CS.mode_Breathing([],false)" onkeydown=""
      value="mode_Breathing" class="ButtonStyle">
      <input  type="button" id="AddSpace" (click)="this.M_Light_CS.mode_Breathing([],true)" onkeydown=""
      value="mode_Breathing_rainbow" class="ButtonStyle">
      
      <input  type="button" id="AddSpace" (click)="this.M_Light_CS.mode_NormallyOn([],true)" onkeydown=""
      value="mode_NormallyOn" class="ButtonStyle">

      <input  type="button" id="AddSpace" (click)="this.M_Light_CS.mode_AcidMode([])" onkeydown=""
      value="mode_AcidMode" class="ButtonStyle">

      
      <input  type="button" id="AddSpace" (click)="this.M_Light_CS.mode_Kamehemeha([],true)" onkeydown=""
      value="mode_Kamehemeha_rainbow" class="ButtonStyle">

      <input  type="button" id="AddSpace" (click)="this.M_Light_CS.mode_Kamehemeha([[255,255,0,1]],false)" onkeydown=""
      value="mode_Kamehemeha_Single" class="ButtonStyle">

      <input  type="button" id="AddSpace" (click)="this.M_Light_CS.mode_Kamehemeha([[255,255,0,1]],false)" onkeydown=""
      value="mode_Kamehemeha_Single" class="ButtonStyle">
      <input  type="button" id="AddSpace" (click)="this.M_Light_CS.mode_Wave1([[0,0,255,1]],false)" onkeydown=""
      value="mode_Wave1" class="ButtonStyle">

      <!-- [style.background-color]="'blue'" -->
      <!-- [ngStyle]="{'background-image': PERKEY_BrightnessSlider_Background()} -->
    <div style="
                width: 50px;
                height: 50px;
                left: 500px;
                background: red;
            "   [ngStyle]="{'background': PERKEY_BrightnessSlider_Background()}">
    </div>
    <div [style.background]="PERKEY_BrightnessSlider_Background()" style="
    width: 50px;
    height: 50px;
    left: 500px;
    background: red;
">
</div>



      <!-- background: linear-gradient(-225deg, rgba(0,0,0,0.6) 50%, rgba(0,36,61,0.6) 80%), -->
      <div id="EventCanBoxSelectRange" class="Keyboard-content">
          <div id="GMMK_0x320F0x5044" class="Content1">
              <div style="position: absolute; display: flex">
                  <img id="GMMK_img" 
                      src="assets/image/GMMK3.png"
                      style="width: 834px; height: 372px; z-index: 3;display: none;"
                  />
                  <div id="keyAssignPrompt"
                      style="
                          position: absolute;
                          margin-top: -146px;
                          margin-left: -65px;
                          visibility: visible;
                          width: 130px;
                          display: flex;
                          height: 117px;
                          justify-content: center;
                          align-items: flex-end;
                          background-image: url('./image/keybinding/Indicator.png');
                          z-index: 5;
                      "
                      [style.display]="keybindingflag && !this.KeyBoardManager.notClickedYet ? 'flex' : 'none'"
                  >
                      <div
                          id="keyAssignPromptline"
                          style="background-color: rgb(255, 255, 255); position: absolute; width: 1px; display: flex"
                      ></div>
                      <div
                          id="KeyDefaultValue"
                          style="
                              color: white;
                              margin-bottom: 84px;
                              width: 50%;
                              text-overflow: ellipsis;
                              overflow: hidden;
                              white-space: nowrap;
                              text-align: center;
                          "
                      >
                          {{ this.KeyBoardManager.getTarget().getNowModeTargetMatrixKey().defaultValue }}
                      </div>
                      <div id="SingleKeyClass" style="position: absolute; color: white; margin-top: -57px">
                          {{ this.KeyBoardManager.getTarget().getNowModeTargetMatrixKey().recordBindCodeType }}
                      </div>
                      <div id="SingleKeyAssignValue" style="    position: absolute;
                                              color: white;
                                              margin-top: -25px;
                                              width: 50%;
                                              text-overflow: ellipsis;
                                              overflow: hidden;
                                              white-space: nowrap;
                                              text-align: center;
                                              ">
                          {{ switchChangAllkey() }}
                      </div>
                  </div>
                  <!-- [style.background-color]="this.M_Light_CS.getIndexRGBCss(i)" -->
                  <div id="KeyLightUI_section" style="position: absolute;
                  display: flex;
                  WIDTH:  834px;
                  HEIGHT: 372px;">
                      <div [style.display]="lightingflag ? 'flex' : 'none'"
                          *ngFor="let item of KeyBoardStyle.getTarget().target; let i = index" class="RGBColorBlockStyle"
                             
                          [ngStyle]="{'background':this.M_Light_CS.getIndexRGBCss(i)}"
                          [attr.data-index]="i">
                        </div>
                  </div>
                  <!-- -->
                  <!-- <div id="KeyAssignBlock_section" style="position: absolute;
                  display: flex;
                  WIDTH: auto;
                  HEIGHT: 100%;">
                      <div id="KeyAssignBlock" [style.display]="keybindingflag ? 'flex' : 'none'"
                          *ngFor="let item of KeyBoardStyle.getTarget().target; let i = index"
                          (mouseover)="this.KeyBoardManager.getTarget().keyHoverIndex = i" [style.background-color]="setkeyUIColor(i)" 
                          class="KeyAssignUIStyle">
                          <div [ngClass]="{KeyAssignHasValue:this.KeyBoardManager.getTarget().getNowModeKeyMatrix()[i].changed}" class="KeyAssignHasValue"></div>
                      </div>
                  </div> -->

              </div>
          </div>


      </div>
