
      <div id="EventCanBoxSelectRange" class="Keyboard-content">
          <div id="GMMK_0x320F0x5044" class="Content1">
              <div style="position: absolute; display: flex">
                  <!-- <img
                      src="assets/image/GMMK3.png"
                      style="width: 834px; height: 372px; z-index: 3"
                  <!-- /> -->
                  <div id="keyAssignPrompt"
                      style="
                          position: absolute;
                          margin-top: -146px;
                          margin-left: -65px;
                          visibility: visible;
                          width: 130px;
                          display: flex;
                          height: 117px;
                          justify-content: center;
                          align-items: flex-end;
                          background-image: url('./image/keybinding/Indicator.png');
                          z-index: 5;
                      "
                      [style.display]="keybindingflag && !this.KeyBoardManager.notClickedYet ? 'flex' : 'none'"
                  >
                      <div
                          id="keyAssignPromptline"
                          style="background-color: rgb(255, 255, 255); position: absolute; width: 1px; display: flex"
                      ></div>
                      <div
                          id="KeyDefaultValue"
                          style="
                              color: white;
                              margin-bottom: 84px;
                              width: 50%;
                              text-overflow: ellipsis;
                              overflow: hidden;
                              white-space: nowrap;
                              text-align: center;
                          "
                      >
                          {{ this.KeyBoardManager.getTarget().getNowModeTargetMatrixKey().defaultValue }}
                      </div>
                      <div id="SingleKeyClass" style="position: absolute; color: white; margin-top: -57px">
                          {{ this.KeyBoardManager.getTarget().getNowModeTargetMatrixKey().recordBindCodeType }}
                      </div>
                      <div id="SingleKeyAssignValue" style="    position: absolute;
                                              color: white;
                                              margin-top: -25px;
                                              width: 50%;
                                              text-overflow: ellipsis;
                                              overflow: hidden;
                                              white-space: nowrap;
                                              text-align: center;
                                              ">
                          {{ switchChangAllkey() }}
                      </div>
                  </div>                     -->
                  <div id="KeyLightUI_section" style="position: absolute;
                  display: flex;
                  WIDTH:  834px;
                  HEIGHT: 372px;">
                      <div [style.display]="lightingflag ? 'flex' : 'none'"
                          *ngFor="let item of KeyBoardStyle.getTarget().target; let i = index" class="RGBColorBlockStyle"
                          [style.background-color]="KeyBoardLightLed.AllBlockColor[i].color" [attr.data-index]="i"></div>
                  </div>
                  <!-- -->
                  <!-- <div id="KeyAssignBlock_section" style="position: absolute;
                  display: flex;
                  WIDTH: auto;
                  HEIGHT: 100%;">
                      <div id="KeyAssignBlock" [style.display]="keybindingflag ? 'flex' : 'none'"
                          *ngFor="let item of KeyBoardStyle.getTarget().target; let i = index"
                          (mouseover)="this.KeyBoardManager.getTarget().keyHoverIndex = i" [style.background-color]="setkeyUIColor(i)" 
                          class="KeyAssignUIStyle">
                          <div [ngClass]="{KeyAssignHasValue:this.KeyBoardManager.getTarget().getNowModeKeyMatrix()[i].changed}" class="KeyAssignHasValue"></div>
                      </div>
                  </div> -->

              </div>
          </div>


      </div>