
.GroupRPMTextIcon{
    background-size: 100% 100%;
    background-image: url('/image/FanMode/RPM_Icon.png');
    /* background-image: url('/app/GMMK3.png'); */
}

#color_RGBADiv{
    width: 40%;
    height: auto;
    position: absolute;
    left: 62%;
    top: 32%;
    display: flex;
    color: white;
    flex-direction: column;
}
:host{
    width: 100%;height:100%;
    background-color: #45c1a6;
    opacity: 0.8;
    background-image:  linear-gradient(#cd1ef9 1px, transparent 1px), linear-gradient(to right, #cd1ef9 1px, #45c1a6 1px);
    background-size: 20px 20px;
}

.RGBATextStyle{
 margin-top: 10px;


}


