
.GroupRPMTextIcon{
    background-size: 100% 100%;
    background-image: url('/image/FanMode/RPM_Icon.png');
    /* background-image: url('/app/GMMK3.png'); */
}

#color_RGBADiv{
    width: 40%;
    height: auto;
    position: absolute;
    left: 62%;
    top: 32%;
    display: flex;
    color: white;
    flex-direction: column;
}


.RGBATextStyle{
 margin-top: 10px;


}
:host{
width: 100%;
height: 100%;
background: gray;
}