<div id="NumKeyBindSourceArea" style="
position: absolute;
width: 20vw;height: auto;
border: 2px solid rgb(242,16,16);
overflow-y: hidden;overflow-x: scroll;display: flex;
">
  <div class="NumKeyBindSourceItem">
    <div style="position: absolute;left: 15%;" data-keyTitle="Key">Key</div>
    <div
      style="position: absolute;display: flex;justify-content: center;width: 40px;align-items: center;height: 40px;left: 10%;top: 7%;border: 2px solid rgb(49,49,49);"
      data-keyTitle="Key">Key</div>
    <div
      style="position: absolute;display: flex;justify-content: center;width: 40px;align-items: center;height: 40px;left: 60%;top: 7%;border: 2px solid rgb(49,49,49);"
      data-keyTitle="Key">
      <div style="position: absolute;background: red;width: 80%;height:80%"></div>
    </div>
    <div style="position: absolute;    right: 15%;" data-keyTitle="Color">Color</div>
  </div>


</div>