
  <!-- <div *ngFor="let item of this.router.config; let i = index" class="NumKeyBindSourceItem">
    <div style="position: absolute;left: 15%;user-select: none;" data-keyTitle="Key">{{item}}</div>
  </div> -->

  <ul  class="list-group">
    <li *ngFor="let item of customRouteList ;let i = index" [style.background-color]="selectPageIndex==i?'rgb(153,255,255)':'rgb(255,255,255)'"
    (click)="this.router.navigate(['/'+item.path])">
    {{item.path}} 
    </li>
    <!-- <li routerLink="/ColorTest" routerLinkActive="active">ColorTest</li>
    <li routerLink="/KeyBoard_RGB" routerLinkActive="active" >KeyBoard_RGB</li>
    <li routerLink="/ScrollDemo1" routerLinkActive="active">ScrollDemo1</li>
    <li routerLink="/TableDemo1" routerLinkActive="active">TableDemo1</li> -->
  </ul>