#NumKeyBindSourceArea::-webkit-scrollbar 
{    
    display: none;
    /* display: block; */
    /* background: red; */
    
}
#NumKeyBindSourceArea::-webkit-scrollbar-thumb {
    /* border-radius: 10px; */
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);/* border: 1px solid yellow; */
    background-repeat: no-repeat;
    background-color: rgb(42, 42, 42);
}
:host{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.NumKeyBindSourceItem{
  color: rgba(255, 255, 255,1);
    position: sticky;
    flex-shrink: 0;
    width: 160px;
    height: 360px;
    box-sizing: border-box;
    border: 2px solid rgb(242,16,16);

}


a {
    display: inline-block;
    width: 50px;
    text-decoration: none;
  }
  nav, scroll-container {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  nav {
    width: 339px;
    padding: 5px;
    border: 1px solid black;
  }
  scroll-container {
    display: block;
    width: 350px;
    height: 200px;
    overflow-y: scroll;
    scroll-behavior: smooth;
  }
  scroll-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 5em;
  }