@charset "utf-8";

.fashion_paperdoll {
background-image:url(http://www.gametsg.com/maplestory/pic/water_bg2.png);
background-repeat: no-repeat; 
position: relative;
width:300px; 
height:300px; 
margin:10px; 
border:#CCC solid 1px; 
}

.fashion_additem_tag {
margin:10px 0 0 0 ;
}

.fashion_list_cube {
width:130px; 
height:130px; 
background-repeat: no-repeat;
}

.fashion_list_cube_data {
position:absolute;
margin:3px;
font-family:Arial, Helvetica, sans-serif;
color:#999;
}

.db_menu1 {
margin:0 0 10px 0;
}

.db_menu1 table {
width:660px;
background-color:#F3F0DF;
border:1px solid #CCC;
}

.db_menu1 td {
height:45px;
line-height:14px;
text-align:center;
vertical-align:middle;
background-color:#F3F0DF;
width:5%;
cursor:pointer;
}

.db_menu1 td a {
color:#000000;
}

.db_menu1 td:hover {
background-color:#C96;
color:#000000;
cursor:pointer;
}

.db_menu2 {
margin:0 0 10px 0;
}

.db_menu2 table {
width:660px;
background-color:#CCC;
}

.db_menu2 table table {
width:100%;
background-color:#FFF;
}

.db_menu2 td {
background-color:#FFF;
padding:5px;
}

.db_menu2 td td{
background-color:#FFF;
padding:0;
}

.db_menu2 td a {
line-height:28px;
padding:4px;
margin:1px;
color: #009;
}

.db_menu2 a:hover {
line-height:28px;
padding:4px;
margin:1px;
color:#FFF;
background-color:#933;
}

.db_menu3 td a {
line-height:28px;
padding:4px;
margin:1px;
color:#009;
cursor:pointer;
}

.db_menu3 a:hover {
line-height:28px;
padding:4px;
margin:1px;
color:#FFF;
background-color:#933;
cursor:pointer;
}

.db_menu3 a.select {
line-height:28px;
padding:4px;
margin:1px;
color:#FFF;
background-color:#933;
cursor:pointer;
}

.db_menu3 a.select2 {
line-height:28px;
padding:4px;
margin:1px;
color:#FFF;
background-color:#999;
cursor:pointer;
}

.big {	
	font-size: 16px;
	line-height: 20px;
	color: #0000FF;
	font-weight: bold;
}
.big span {	
	font-size: 16px;
	line-height: 20px;
	color: #0000FF;
	font-weight: bold;
}

.big2 {	
	font-size: 21px;
	line-height:150%;
	color: #003399;
	font-weight: bold;
	font-family: 微軟正黑體 , Arial, Helvetica, sans-serif;
}

.big2 span {	
	font-size: 21px;
	line-height:150%;
	color: #003399;
	font-weight: bold;
	font-family: 微軟正黑體 , Arial, Helvetica, sans-serif;
}

.big3 {	
	font-size: 22px;
	line-height: 22px;
	color: #003399;
	font-weight: bold;
	font-family: 微軟正黑體 , Arial, Helvetica, sans-serif;
}

.big3 span {	
	font-size: 22px;
	line-height: 22px;
	color: #003399;
	font-weight: bold;
	font-family: 微軟正黑體 , Arial, Helvetica, sans-serif;
}

.big4 {	
	font-size: 16px;
	line-height: 180%;
	font-weight: bold;
}

.big4 span{	
	font-size: 16px;
	line-height: 180%;
	font-weight: bold;
}

.big_black {
	
	font-size: 15px;
	line-height: 20px;
	color: black;
	font-weight: bold;
}

.small{
	-webkit-transform: scale(0.85);
	font-family:Arial, Helvetica, sans-serif;
}

.delete{
	text-decoration: line-through;
}


.mid1 {
line-height: 150%;
font-family: Verdana, Geneva, sans-serif;
font-size: 15px;
}

.mid2 {
line-height:150%;
font-size:16px;
font-family: 微軟正黑體 , Arial, Helvetica, sans-serif;
font-weight:bold;
}



.color1 {color: #993333;}
.color2 {color: #00552B;}
.color3 {color: #663366;}
.color4 {color: #993300;}
.color5 {color: #003366;}
.color6 {color: #666633;}
.color7 {color: #FFFFFF;}
.color8 {color: #0000FF;}
.color9 {color: #FF0000;}
.color10 {color: #CC0000;}
.color11 {color: #009966;}
.color12 {color: maroon;}
.color13 {color: olive;}
.color14 {color: green;}
.color15 {color: #0066FF;}
.color16 {color: #660099;}
.color17 {color: #336699;}
.color18 {color: #0066CC;}
.color19 {color: #000099;}
.color20 {color: #58522C;}
.color21 {color: #333333;}
.color22 {color: #996600;}
.color23 {color: #000000;}
.color24 {color: #FFFF00;}
.color25 {color: #FF6600;}
.color26 {color: #DDDDDD;}
.color27 {color: #AD2E03;}
.color28 {color: #00FFFF;}
.color29 {color: #00FF00;}
.color30 {color: #666666;}
.color60 {color: #999999;}
.color31 {color: #666699;}
.color32 {color: #996666;}
.color33 {color: #003366;}
.color34 {color: #993333;}
.color35 {color: #005555;}
.color36 {color: #9900FF;}
.color37 {color: #333333;}
.color38 {color: #bcbaa4;}
.color42 {color: #339933;}
.color43 {color: #0099cc;}
.color44 {color: #cc6600;}
.color45 {color: #cc6633;}

.color52 {color: #80FF80;}
.color53 {color: #80FFFF;}
.color54 {color: #FFFF80;}
.color55 {color: #e79bed;}

.color61 {color: #FF9933;}
.color62 {color: #330033;}
.color63 {color: #330066;}
.color64 {color: #cf69f8;}
.color66 {color: #b54bff;}
.color67 {color: #e97070;}
.color68 {color: #82ad6a;}
.color69 {color: #8ebd74;}
.color70 {color: #a3d289;}
.color71 {color: #9933CC;}
.color72 {color: #CCFFFF;}
.color_indigo {color: #4B0082;}
	


.bg54{ 
background-color:#FFFF80;
padding:1px 1px 1px 3px;
width:45px;
}

.gray_bottom {border-bottom: 1pt solid #BBBBBB;}
.gray_top {border-top: 1pt solid #BBBBBB;}
.gray_left {border-left: 1pt solid #BBBBBB;}
.gray_right {border-right:1pt solid #BBBBBB;}

.brown_top {border-top: 1pt solid #6a5e4e;}
.brown_bottom {border-bottom: 1pt solid #6a5e4e;}

.gray_bottom2 {border-bottom: 1pt dashed #BBBBBB;}

.gray_top2 {border-top: 1pt solid #BBBBBB;}
.gray_top3 {border-top: 1pt dashed #BBBBBB;}

.table_out{border: 1pt solid #BBBBBB;}

.table_line {
background:#999999;
border-collapse: separate;
border-spacing: 1px;
line-height: 20px;
border:0;
}
.table_line td {
padding:5px;
border:0;
}



.hover_top{
background-color:#FFFFFF;
border-bottom: 1pt solid #cccccc;
border-top: 1pt solid #999999;
cursor: pointer;

font-size: 10px;
}

/*目錄＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝*/
.menu1{
height:45;
width:660px;
background:url(http://www.gametsg.com/bg/bg_brown.gif); 
border-left: 1pt solid #999999;
border-right:1pt solid #999999;
border-top: 1pt solid #999999;
border-bottom: 1pt solid #999999;
color:#000000;
cursor:pointer;
border-spacing:1px;
}
.menu1_hover{
background-color:#D5BD8C;
color:#000000;
}

.menu2{
height:42;
width:660px;
background:#fafafa; 
border-left: 1pt solid #999999;
border-right:1pt solid #999999;
border-bottom: 1pt solid #999999;
}
.menu2 td{
padding:3px;
border-top: 1pt solid #999999;
line-height:18px;
}
.menu2 td td{
padding:0;
border-left: 1pt solid #fafafa;
border-right:1pt solid #fafafa;
border-top: 1pt solid #fafafa;
border-bottom: 1pt solid #fafafa;
}

.menu2 td td a{
width:100%;
color:#000099;
cursor: pointer;
text-align:left;
padding:1px;
text-decoration: none;
background:#fafafa;
border-left: 1pt solid #fafafa;
border-right:1pt solid #fafafa;
border-top: 1pt solid #fafafa;
border-bottom: 1pt solid #fafafa;
}
.menu2 td td a:hover{
width:100%;
color:#000099;
cursor: pointer;
text-align:left;
padding:1px;
text-decoration: none;
background:#cccccc;
border-left: 1pt solid #999999;
border-right:1pt solid #999999;
border-top: 1pt solid #999999;
border-bottom: 1pt solid #999999;
}
.menu2 td a{
color:#000099;
cursor: pointer;
text-align:left;
padding:3px;
text-decoration: none;
background:#fafafa;
border-left: 1pt solid #fafafa;
border-right:1pt solid #fafafa;
border-top: 1pt solid #fafafa;
border-bottom: 1pt solid #fafafa;
line-height:24px;
}
.menu2 td a:hover{
color:#000099;
cursor: pointer;
text-align:left;
padding:3px;
text-decoration: none;
background:#cccccc;
border-left: 1pt solid #999999;
border-right:1pt solid #999999;
border-top: 1pt solid #999999;
border-bottom: 1pt solid #999999;
line-height:24px;
}

.menu3 td a{
cursor: pointer;
text-decoration: none;
}

.menu3 td a:hover{
color:#FFFFFF;
cursor: pointer;
text-decoration: none;
background:#990000;
}
/*目錄＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝*/


.list{
width:660px;
background:#FAFAFA; 
border-left: 1pt solid #999999;
border-right:1pt solid #999999;
border-bottom: 1pt solid #999999;
border-top: 1pt solid #999999;
}
.list .head{height:42px;padding:5px;background:url(http://www.gametsg.com/bg/bg_brown.gif);}
.list .body td{height:38px;padding:5px;border-top: 1pt solid #999999;}
.list .body_monster td{height:38px;padding:5px;border-top: 1pt solid #999999;}
.list .body_monster td td{height:38px;padding:5px;}
.list .body_monster_hover td{height:38px;padding:5px;border-top: 1pt solid #999999;}


.list .body {
cursor: pointer;
}
.list .body_monster {
cursor: pointer;
}
.list .body_monster_hover {
cursor: pointer;
background:#FFECEC;
}
/*LEVEL＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝*/

.level{
border-left: 1pt solid #999999;
border-right:1pt solid #999999;
border-bottom: 1pt solid #999999;
border-top: 1pt solid #999999;
color:green;
background:#EEEEEE;
margin-left:1px;
margin-top:3px;
padding-left:3px;
padding-right:3px;
font-size: 12px;
height:15px;
}
.level:hover{
border-left: 1pt solid #999999;
border-right:1pt solid #999999;
border-bottom: 1pt solid #999999;
border-top: 1pt solid #999999;
color:#ffffff;
background:green;
margin-left:1px;
margin-top:3px;

font-size: 12px;
height:15px;
}
.level a:hover{
color:#CC0000;
text-decoration:none;	
}


.level1{
border-left: 1pt solid #999999;
border-right:1pt solid #999999;
border-bottom: 1pt solid #999999;
border-top: 1pt solid #999999;
color:green;
background:#EEEEEE;
margin-left:0;
margin-top:0;

font-size: 12px;
height:15px;
padding-top:2px;
padding-left:2px;
padding-right:2px;
}
.level1:hover{
border-left: 1pt solid #999999;
border-right:1pt solid #999999;
border-bottom: 1pt solid #999999;
border-top: 1pt solid #999999;
color:#EEEEEE;
background:green;
margin-left:0;
margin-top:0;

font-size: 12px;
height:15px;
padding-top:2px;
padding-left:2px;
padding-right:2px;
text-decoration:none
}
.level2{
border-left: 1pt solid #999999;
border-right:1pt solid #999999;
border-bottom: 1pt solid #999999;
border-top: 1pt solid #999999;
color: #990000;
background: #FFFFCC;
margin-right:2px;
margin-top:2px;

font-weight:bold;
width:20px;
height:17px;
padding:1px;
vertical-align:middle;
}
.level3{
border-left: 1pt solid #999999;
border-right:1pt solid #999999;
border-bottom: 1pt solid #999999;
border-top: 1pt solid #999999;
color: #990000;
background: #FFFFCC;
margin-right:2px;
margin-top:2px;


font-weight:bold;
width:20px;
height:18px;
padding-left:2px;
padding-right:2px;
padding-top:1px;
text-align:center;
vertical-align:middle;
}
.level3:hover{
text-decoration:none;
border-left: 1pt solid #999999;
border-right:1pt solid #999999;
border-bottom: 1pt solid #999999;
border-top: 1pt solid #999999;
color: #FFFFCC;
background: #990000;
margin-right:2px;
margin-top:2px;


font-weight:bold;
width:20px;
height:18px;
padding-left:2px;
padding-right:2px;
padding-top:1px;
text-align:center;
vertical-align:middle;
}
.level4{
border-left: 1pt solid #999999;
border-right:1pt solid #999999;
border-bottom: 1pt solid #999999;
border-top: 1pt solid #999999;
color: #990000;
background: #FFFFCC;
margin-right:2px;
margin-top:2px;


font-weight:bold;
height:17px;
padding-top:3px;
padding-left:2px;
padding-right:2px;
text-align:center;
vertical-align:middle;
}
.level4:hover{
text-decoration:none;
border-left: 1pt solid #999999;
border-right:1pt solid #999999;
border-bottom: 1pt solid #999999;
border-top: 1pt solid #999999;
color: #FFFFCC;
background: #990000;
margin-right:2px;
margin-top:2px;


font-weight:bold;
height:17px;
padding-top:3px;
padding-left:2px;
padding-right:2px;
text-align:center;
vertical-align:middle;
}



.level5{
border-left: 1pt solid #999999;
border-right:1pt solid #999999;
border-bottom: 1pt solid #999999;
border-top: 1pt solid #999999;
color: #000000;
background:#EEEEEE;
margin-left:0;
margin-top:0;

font-size: 12px;
height:15px;
padding-top:2px;
padding-left:3px;
padding-right:2px;
}
.level5:hover{
border-left: 1pt solid #999999;
border-right:1pt solid #999999;
border-bottom: 1pt solid #999999;
border-top: 1pt solid #999999;
color:#EEEEEE;
background:#990033;
margin-left:0;
margin-top:0;

font-size: 12px;
height:15px;
padding-top:2px;
padding-left:3px;
padding-right:2px;
text-decoration:none
}

.level6{
border-left: 1pt solid #999999;
border-right:1pt solid #999999;
border-bottom: 1pt solid #999999;
border-top: 1pt solid #999999;
background:#F5F5F5;
margin:1px;

height:18px;
line-height:22px;
padding-top:2px;
padding-left:3px;
padding-right:2px;
padding-bottom:2px;
}
.level6:hover{
border-left: 1pt solid #999999;
border-right:1pt solid #999999;
border-bottom: 1pt solid #999999;
border-top: 1pt solid #999999;
color:#EEEEEE;
background:#990033;
margin:1px;

height:18px;
line-height:22px;
padding-top:2px;
padding-left:3px;
padding-right:2px;
padding-bottom:2px;
text-decoration:none
}

.level6n{
border-left: 1pt solid #999999;
border-right:1pt solid #999999;
border-bottom: 1pt solid #999999;
border-top: 1pt solid #999999;
color: #FFFFFF;
background:#000000;
margin-left:0;
margin-top:0;

height:18px;
padding-top:2px;
padding-left:3px;
padding-right:3px;
padding-bottom:2px;
}

.level7{
border-left: 1pt solid #999999;
border-right:1pt solid #999999;
border-bottom: 1pt solid #999999;
border-top: 1pt solid #999999;
color: #FFFFFF;
background:#000000;
margin-left:0;
margin-top:0;

padding-top:5px;
padding-left:5px;
padding-right:5px;
padding-bottom:5px;
}
.level7:hover{
border-left: 1pt solid #999999;
border-right:1pt solid #999999;
border-bottom: 1pt solid #999999;
border-top: 1pt solid #999999;
color: #000000;
background:#FFFFFF;
margin-left:0;
margin-top:0;

padding-top:5px;
padding-left:5px;
padding-right:5px;
padding-bottom:5px;
text-decoration:none
}

.level8{
border-left: 1pt solid #999999;
border-right:1pt solid #999999;
border-bottom: 1pt solid #999999;
border-top: 1pt solid #999999;
color: #000000;
background:#FFFFFF;
margin:1px;
padding:1px;

text-decoration:none
}
.level8:hover{
border-left: 1pt solid #999999;
border-right:1pt solid #999999;
border-bottom: 1pt solid #999999;
border-top: 1pt solid #999999;
color:#EEEEEE;
background:#990033;
margin:1px;
padding:1px;

text-decoration:none
}

.level9{
border-left: 1pt solid #999999;
border-right:1pt solid #999999;
border-bottom: 1pt solid #999999;
border-top: 1pt solid #999999;
color: #000000;
background:#bcbaa4;
margin-left:0;
margin-top:0;

height:18px;
padding-top:2px;
padding-left:3px;
padding-right:2px;
padding-bottom:2px;
}
.level9:hover{
border-left: 1pt solid #999999;
border-right:1pt solid #999999;
border-bottom: 1pt solid #999999;
border-top: 1pt solid #999999;
color:#EEEEEE;
background:#990033;
margin-left:0;
margin-top:0;

height:18px;
padding-top:2px;
padding-left:3px;
padding-right:2px;
padding-bottom:2px;
text-decoration:none
}






.h18 {line-height: 18px;}
.h20 {line-height: 20px;}
.h21 {line-height: 21px;}
.h22 {line-height: 22px;}
.h23 {line-height: 23px;}
.h24 {line-height: 24px;}
.h25 {line-height: 25px;}
.h26 {line-height: 26px;}
.h27 {line-height: 27px;}
.h28 {line-height: 28px;}
.h29 {line-height: 29px;}
.h30 {line-height: 30px;}
.hand {cursor: pointer;}




.hidden {display: none;}
.visible {display: block;}


.map1 {position:absolute; z-index:1;display: none;}
.map2 {position:absolute; z-index:1;left:300px;display: block;
border-left: 1pt solid #999999;
border-right:1pt solid #999999;
border-bottom: 1pt solid #999999;
border-top: 1pt solid #999999;
background:#FFFFFF;
padding:5px;
text-align:left;
}

.input_search {
width:120px;
color:#666666;
}
.input_select {
border-left: 1pt solid #999999;
border-right:1pt solid #999999;
border-bottom: 1pt solid #999999;
border-top: 1pt solid #999999;
width:120px; 
cursor:pointer;
color:#000000;
}
.input_bottom {
border-left: 1pt solid #999999;
border-right:1pt solid #999999;
border-bottom: 1pt solid #999999;
border-top: 1pt solid #999999;
height:25px;
padding:2px;
line-height:18px;
cursor:pointer;
}

.input_bottom2 {
border-left: 1pt solid #CCCCCC;
border-right:1pt solid #999999;
border-bottom: 1pt solid #999999;
border-top: 1pt solid #CCCCCC;
padding-top:2px;
cursor:pointer;
}

.input_yes {
background-color:#06C;
color:#FFF;
border-left: 1pt solid #FFFFFF;
border-top: 1pt solid #FFFFFF;
border-right:1pt solid #999999;
border-bottom: 1pt solid #999999;
cursor:pointer;
font-size:15px;
padding:0 8px 0 8px;
height:35px;
line-height:33px;
}

.input_yes_bak {
cursor:pointer;
height:35px;
line-height:33px;
margin:0;
padding:0;
vertical-align:top;
text-shadow:0 1px 1px #000;
border:1px solid #ccc;
background:#efefef;
background-image:-moz-linear-gradient(top,#0066cc,#003366);
background-image:-webkit-gradient(linear,left top,left bottom,from(#0066cc),to(#003366));
filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr=#0066cc,endColorStr=#003366);
color:#fff;
width:90px;
text-align:center;
font-size:12px;
}

.input_no {
background-color:#933;
color:#FFF;
border-left: 1pt solid #FFFFFF;
border-top: 1pt solid #FFFFFF;
border-right:1pt solid #999999;
border-bottom: 1pt solid #999999;
cursor:pointer;
font-size:15px;
padding:0 8px 0 8px;
height:35px;
line-height:33px;
}
.input_msgboard {
background-color:#FFF;
color:maroon;
border-left: 1pt solid #999999;
border-top: 1pt solid #999999;
border-right:1pt solid #CCCCCC;
border-bottom: 1pt solid #CCCCCC;
width:545px;
}
.input_msgboard2 {
background-color:#FFF;
border-left: 1pt solid #999999;
border-top: 1pt solid #999999;
border-right:1pt solid #CCCCCC;
border-bottom: 1pt solid #CCCCCC;
width:650px;
}
.input_msgboard3 {
background-color:#FFF;
border-left: 1pt solid #999999;
border-top: 1pt solid #999999;
border-right:1pt solid #CCCCCC;
border-bottom: 1pt solid #CCCCCC;
}


.drop_report{
background-color:#003366;
color:#FFFFFF;
width:100px;
padding:7px;
line-height:28px;
border-bottom-color:#000000;
text-align:center;
}
.drop_report:hover{
background-color:#FFFFFF;
color:#003366;
width:100px;
padding:7px;
text-decoration:none;
cursor:pointer;
}

.picture_report{
background-color:#990000;
color:#FFFFFF;
width:100px;
padding:7px;
cursor:pointer;
}
.picture_report:hover{
background-color:#FFFFFF;
color:#990000;
width:100px;
padding:7px;
text-decoration:none;
cursor:pointer;
}

.article {	 
	width:640px; 
	overflow:hidden;
	line-height:180%;
	word-wrap: break-word;	
}

.article table {	 
	line-height:140%;
}

.article li {	
	line-height:25px;
}

.article_big {line-height:180%; width:640px; overflow:hidden;}
.article_big p { font-size:16px;  }
.article_big span { font-size:16px;  }
.article_big td { font-size:16px;  }
.article_big strong { font-size:16px;  }
.article_big li { font-size:16px;  }
.article_big a { font-size:16px;  }
.article_big u { font-size:16px;  }
.article_big font { font-size:16px;  }
.article_big div { font-size:16px;  }

.msgboard {
	width:530px; overflow:hidden; padding-top:2px;
	word-wrap: break-word;
}

.article2 {font-size: 15px;line-height:18px; width:640px; overflow:hidden;}


.logo_www_big span {
background:url(http://www.gametsg.com/bg/wwwbg3.gif) no-repeat;
}
.logo_www span {
background:url(http://www.gametsg.com/pic/120x60_www.jpg) no-repeat;
overflow:hidden
}
.logo_lineage2 span {
background:url(http://www.gametsg.com/pic/120x60_lineage2.jpg) no-repeat;
overflow:hidden
}
.logo_fn span {
background:url(http://www.gametsg.com/pic/120x60_fn.jpg) no-repeat;
overflow:hidden
}
.logo_gd span {
background:url(http://www.gametsg.com/pic/120x60_gd.jpg) no-repeat;
overflow:hidden
}
.logo_ro span {
background:url(http://www.gametsg.com/pic/120x60_ro.jpg) no-repeat;
overflow:hidden
}
.logo_lineage span {
background:url(http://www.gametsg.com/pic/120x60_lineage.jpg) no-repeat;
overflow:hidden
}
.logo_rohan span {
background:url(http://www.gametsg.com/pic/120x60_rohan.jpg) no-repeat;
overflow:hidden
}
.logo_rappelz span {
background:url(http://www.gametsg.com/pic/120x60_rappelz.jpg) no-repeat;
overflow:hidden
}
.logo_r2 span {
background:url(http://www.gametsg.com/pic/120x60_r2.jpg) no-repeat;
overflow:hidden
}
.logo_sun span {
background:url(http://www.gametsg.com/pic/120x60_sun.jpg) no-repeat;
overflow:hidden
}
.logo_trickster span {
background:url(http://www.gametsg.com/pic/120x60_trickster.jpg) no-repeat;
overflow:hidden
}
.logo_exteel span {
background:url(http://www.gametsg.com/pic/120x60_exteel.jpg) no-repeat;
overflow:hidden
}
.logo_eco span {
background:url(http://www.gametsg.com/pic/120x60_eco.jpg) no-repeat;
overflow:hidden
}
.logo_aion span {
background:url(http://www.gametsg.com/pic/120x60_aion.jpg) no-repeat;
overflow:hidden
}
.logo_hellgate span {
background:url(http://www.gametsg.com/pic/120x60_hg.jpg) no-repeat; border:1px;
overflow:hidden
}
.logo_chibi span {
background:url(http://www.gametsg.com/pic/120x60_chibi.jpg) no-repeat; border:1px;
overflow:hidden
}
.logo_iris span {
background:url(http://www.gametsg.com/pic/120x60_iris.jpg) no-repeat; border:1px;
overflow:hidden
}
.logo_bns span {
background:url(http://www.gametsg.com/pic/120x60_bns.jpg) no-repeat; border:1px;
overflow:hidden
}
.logo_diablo3 span {
background:url(http://www.gametsg.com/pic/120x60_diablo3.jpg) no-repeat; border:1px;
overflow:hidden
}


.logo span{
	cursor: pointer;
}

.logo{
display:block;
height:60px;
width:120px;
margin:-10px 0 0;
overflow:hidden;
position:relative;
}

.logo_big{
display:block;
height:157px;
width:270px;
margin:-10px 0 0;
overflow:hidden;
position:relative;
}

.logo span{
background-position:0 0;
height:100%;
width:100%;
left:0;
top:0;
position:absolute;
}

.logo_big span{
background-position:0 0;
height:100%;
width:100%;
left:0;
top:0;
position:absolute;
}

.shadow {
 -moz-box-shadow: 5px 5px 10px #ccc;
 -webkit-box-shadow:  5px 5px 10px #ccc;
 box-shadow:  5px 5px 10px #ccc;
}
.shadow_gray {
 -moz-box-shadow: 3px 3px 10px #666;
 -webkit-box-shadow: 3px 3px 10px #666;
 box-shadow:  3px 3px 10px #666;
}
.shadow_black {
 -moz-box-shadow: 5px 5px 10px #666;
 -webkit-box-shadow:  5px 5px 10px #666;
 box-shadow:  5px 5px 10px #666;
}
.shadow_white {
 -moz-box-shadow: 5px 5px 10px #222;
 -webkit-box-shadow:  5px 5px 10px #ccc;
 box-shadow:  5px 5px 10px #ccc;
}
.shadow_avata{ 		
	-moz-box-shadow: 2px 2px 5px #333;
	-webkit-box-shadow:  2px 2px 5px #333;
	box-shadow:  2px 2px 5px #333;	
}
.border_yellow{
	border:solid #FF0 3px;
}

.box ul{ margin:0; padding:5px; }
.box li{ display: inline; }
.tags li{ display: inline; font-size: 11px; display: block; background: #7fa5d3; list-style-type: none; float: left; margin-right: 3px; margin-bottom: 3px; -webkit-border-radius: 2px; -moz-border-radius: 2px; position: relative; }
.tags li a{ color: #fff; text-decoration: none; display: block; padding: 2px 5px; float: left; }

/*特殊TABLE DETAIL========================*/
.table_detail{
border-top: 1pt solid #CCCCCC;
border-left: 1pt solid #CCCCCC;
border-right: 1pt solid #CCCCCC;
border-bottom: 1pt solid #CCCCCC;
border-spacing:1px;
}

.table_detail td{
border-top: 1pt solid #CCCCCC;
border-left: 1pt solid #CCCCCC;
border-right: 1pt solid #CCCCCC;
border-bottom: 1pt solid #CCCCCC;
height:35px;
line-height:18px;
empty-cells:show;
padding:5px;
}



/*TABLE LIST========================*/
.table_list{
border-left: 1pt solid #CCCCCC;
border-right: 1pt solid #CCCCCC;
border-bottom: 1pt solid #CCCCCC;
border-collapse:collapse;
}

.table_list td{
border-top: 1pt solid #CCCCCC;
height:35px;
line-height:18px;
empty-cells:show;
padding:5px;
}

.table_list tr:hover{
background:#FFECEC;
}

/*TD COLOR========================*/
.td0 td{
border-top: 0pt solid #CCCCCC;
border-left: 0pt solid #CCCCCC;
border-right: 0pt solid #CCCCCC;
border-bottom: 0pt solid #CCCCCC;
}

.td1 td{
border-top: 1pt solid #CCCCCC;
border-left: 1pt solid #CCCCCC;
border-right: 1pt solid #CCCCCC;
border-bottom: 1pt solid #CCCCCC;
}



.reply{ 	
	line-height: 18px;
	background-color:#F0F0F0;	
	border: 1px solid #BBBBBB;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 15px;
	margin-bottom: 5px;
	padding: 5px;
	color:#666699;
	-moz-box-shadow: 2px 2px 5px #ccc;
	-webkit-box-shadow:  2px 2px 5px #ccc;
	box-shadow:  2px 2px 5px #ccc;
	
	
}

.c1 {color: #993333;}
.c2 {color: #00552B;}
.c3 {color: #663366;}
.c4 {color: #993300;}
.c5 {color: #003366;}
.c6 {color: #666633;}
.c7 {color: #FFFFFF;}
.c8 {color: #0000FF;}
.c9 {color: #FF0000;}
.c10 {color: #CC0000;}
.c11 {color: #009966;}
.c12 {color: maroon;}
.c13 {color: olive;}
.c14 {color: green;}
.c15 {color: #0066FF;}
.c16 {color: #660099;}
.c17 {color: #336699;}
.c18 {color: #0066CC;}
.c19 {color: #000099;}
.c20 {color: #58522C;}
.c21 {color: #333333;}
.c22 {color: #996600;}
.c23 {color: #000000;}
.c24 {color: #FFFF00;}
.c25 {color: #FF6600;}
.c26 {color: #DDDDDD;}
.c27 {color: #AD2E03;}
.c28 {color: #00FFFF;}
.c29 {color: #00FF00;}
.c30 {color: gray;}
.c31 {color: #666699;}
.c32 {color: #996666;}
.c33 {color: skyblue;}
.c34 {color: royalblue;}
.c35 {color: blue;}
.c36 {color: darkblue;}
.c37 {color: orange;}
.c38 {color: orangered;}
.c39 {color: crimson;}
.c40 {color: red;}
.c41 {color: firebrick;}
.c42 {color: darkred;}
.c43 {color: green;}
.c44 {color: limegreen;}
.c45 {color: seagreen;}
.c46 {color: teal;}
.c47 {color: deeppink;}
.c48 {color: tomato;}
.c49 {color: coral;}
.c50 {color: purple;}
.c51 {color: indigo;}
.c52 {color: burlywood;}
.c53 {color: sandybrown;}
.c54 {color: sienna;}
.c55 {color: chocolate;}
.c56 {color: silver;}
.c60 {color:#c57234;}
.c61 {color:#9999ff;}
.c62 {color:#7f7f7d;}

.c63 {color:#ba0102;}
.c64 {color:#5b7da0;}
.c65 {color:#fff25c;}
.c66 {color:#ca3c94;}
.c67 {color:#3aa793;}
.c68 {color:#bbb396;}
.c69 {color:#bbb396;}

.font1 {font-size: 10px;}
.font3 {font-size: 16px;line-height: 18px;}
.fontbold {font-weight:bold}
.fontbig {
	
	font-size: 15px;
	line-height: 20px;
	color: black;
	font-weight: bold;
}

/*nue_table*/
.illr01{background-color:#FFF4F4;border-collapse:collapse;border:1pt solid #808080}
.illr02{background-color:#F6E8E8;border-collapse:collapse;border:1pt solid #808080}
.illr03{background-color:#FFEEEE;border-collapse:collapse;border:1pt solid #808080}

.illb01{background-color:#F4F4FF;border-collapse:collapse;border:1pt solid #808080}
.illb02{background-color:#E6E6FA;border-collapse:collapse;border:1pt solid #808080}
.illb03{background-color:#E4E4FF;border-collapse:collapse;border:1pt solid #808080}

.illg01{background-color:#F6FFF6;border-collapse:collapse;border:1pt solid #808080}
.illg02{background-color:#E2F4E2;border-collapse:collapse;border:1pt solid #808080}
.illg03{background-color:#E9FEE9;border-collapse:collapse;border:1pt solid #808080}

.ills01{background-color:#FBEFFE;border-collapse:collapse;border:1pt solid #808080}
.ills02{background-color:#E8D9EB;border-collapse:collapse;border:1pt solid #808080}
.ills03{background-color:#F1E7F3;border-collapse:collapse;border:1pt solid #808080}

.illy01{background-color:#FFFFF2;border-collapse:collapse;border:1pt solid #808080}
.illy02{background-color:#FEFED7;border-collapse:collapse;border:1pt solid #808080}
.illy03{background-color:#FFFFE6;border-collapse:collapse;border:1pt solid #808080}

.illk01{background-color:#FCF2E8;border-collapse:collapse;border:1pt solid #808080}
.illk02{background-color:#DFD6CD;border-collapse:collapse;border:1pt solid #808080}
.illk03{background-color:#EFE7DF;border-collapse:collapse;border:1pt solid #808080}

.illh01{background-color:#F8F8F8;border-collapse:collapse;border:1pt solid #808080}
.illh02{background-color:#EAEAEA;border-collapse:collapse;border:1pt solid #808080}
.illh03{background-color:#F4F4F4;border-collapse:collapse;border:1pt solid #808080}


.illbk01{background-color:#000000;border-collapse:collapse;border:1pt solid #808080}
.illbk02{background-color:#444444;border-collapse:collapse;border:1pt solid #808080}


/*bgr tips*/
.tips-trans-bgr {
position: fixed !important;
background: rgb(255, 255, 255) none repeat scroll 0% 0%; 
height: 130%;
width:100%; 
bottom: 0pt; 
right: 0pt; 
left: 0pt; 
top: 0pt; 
z-index: 200001; 
-moz-background-clip: -moz-initial; 
-moz-background-origin: -moz-initial; 
-moz-background-inline-policy: 
-moz-initial;
opacity: 0.8;
-ms-filter: "alpha(opacity=80)";
filter:alpha(opacity=80);
zoom:1; 
display: block;
-webkit-transition: all 0.25s linear;
-moz-transition: all 0.25s linear;
-ms-transition: all 0.25s linear;
-o-transition: all 0.25s linear;
transition: all 0.25s linear;
}

.yellow_out {
	border:2px #FF6 solid;
	float:left;
}

.black_out {
	border:2px #333 solid;
	float:left;
}

.sub_weapon_group {
	float:left;
	background-color: #C00;
}

.yellow_num{
	/*-webkit-transform: scale(0.85);*/
	-o-transform : scale(1); 
	display : inline-block;
	z-index:200; 
	background-color:#FF6; 
	font-size:10px;
	font-family: Helvetica;
	position:absolute;
	width:22px;
	height:13px;
	line-height:11px;
	margin:-5px 0 0 -3px;
	text-align:center;
	visibility:hidden;
}

.talk1 {
	background-color: #0f1827;
	width:350px;
	padding: 10px 40px 10px 10px;
	border: 2px #4c5252 solid;
	line-height:20px;
	color: #bcbaa4;
}

.talk2 {
	margin:5px; 
	padding:7px; 
	background-color:#FFFFFF;
	width:400px;
	border:#CCCCCC 1px solid; 
	line-height:20px;
}

.talk3 {
	margin:5px 0; 
	padding:7px; 
	background-color:#FFFFFF;
	border:#CCCCCC 1px solid; 
	line-height:20px;
}

.short_tips_card_name {
font-family:Arial, Helvetica, sans-serif;
padding:1px 1px 0 0;
margin:0 1px 0 0;
position: relative;
display:block;
text-decoration:none;
text-align:center;
vertical-align:middle;
font-weight:normal;
line-height:45px;
text-shadow:1px 1px 1px #000;
-ms-filter:"progid:DXImageTransform.Microsoft.DropShadow(Color=#000000, OffX=1, OffY=2)"; 
filter:progid:DXImageTransform.Microsoft.DropShadow(OffX=1, OffY=2, Color=#000000);
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
}

#item_list .translate_hs_item_desc {
	/*font-weight:bold;*/
}

#short_tips_item_desc .translate_hs_item_desc {
	color:#FF0;
}

.hs_check_box_hover {
	background-color:#900;
	color:#FFF;
	
}

.hs_check_box_hover a {
	color:#FFF;
	
}

.hs_check_box_hover_normal {
	padding:2px 4px 2px 0;
	vertical-align:bottom;	
}

.checkbox_group {
	vertical-align:bottom;	
}

div.inline { float:left; }
.clearBoth { 
clear:both;
line-height:0;
}
.inline_container {
	margin:0 0 0 -7px;	
	overflow:hidden;	
	width:660px;
	display:block;	
}

.cardbgr {
border:1px #FFFFFF solid;
background-repeat:no-repeat;
background-position:right top;
width:143px;
background-color:#FFF;
}

.spreadsheet_f1 {
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px; 
background-color: #EEEEEE; 
padding:10px; 
margin:2px; 
line-height:28px;
height:60px;
}

.spreadsheet_f2 {
font-size:30px; 
font-family: Tahoma, Geneva, sans-serif;
}

.spreadsheet_f3 {
font-size:30px; 
font-family: 微軟正黑體 , Arial, Helvetica, sans-serif;
}

.fonthei {
	font-family:'微軟正黑體','Microsoft JhengHei','麗黑 Pro','LiHei Pro Medium',Helvetica,'Helvetica Neue',Arial;
}
.font16 { font-size:16px; }
.font17 { font-size:17px; }
.font18 { font-size:18px; }
.font19 { font-size:19px; }
.font20 { font-size:20px; }
.font21 { font-size:21px; }
.font22 { font-size:22px; }
.font23 { font-size:23px; }
.font24 { font-size:24px; }
.font10 {
	-webkit-transform: scale(0.85);
	font-size:10px;
	line-height:12px;
	-webkit-transform-origin-x: 0;
}
.font10_center {
	-webkit-transform: scale(0.85);
	font-size:10px;
	line-height:12px;
}

.vmin, .vmax, .vname {
	color:#999;
}

.big11 {
font-family: '\5FAE\8EDF\6B63\9ED1\9AD4', 'Microsoft JhengHei', 'Apple LiGothic Medium', 'simhei', 'Microsoft YaHei', Arial, Helvetica, sans-serif; 
font-size: 35px;
line-height: 40px;
color: #000000; 
text-shadow: 0 0 1px #AAA;
}

.big12 {
font-family: '\5FAE\8EDF\6B63\9ED1\9AD4', 'Microsoft JhengHei', 'Apple LiGothic Medium', 'simhei', 'Microsoft YaHei', Arial; 
font-size: 24px;
line-height: 30px;
color: #C00; 
text-shadow: 0 0 1px  #CAA;
}

.big12css {
font-family: '\5FAE\8EDF\6B63\9ED1\9AD4', 'Microsoft JhengHei', 'Apple LiGothic Medium', 'simhei', 'Microsoft YaHei', Arial; 
font-size: 24px;
line-height: 30px;
text-shadow: 0 0 1px  #CAA;
}

.big12a {
font-family: '\5FAE\8EDF\6B63\9ED1\9AD4', 'Microsoft JhengHei', 'Apple LiGothic Medium', 'simhei', 'Microsoft YaHei', Arial; font-size: 22px;
line-height: 30px;
color: #000; 
text-shadow: 0 0 1px  #AAA;
}

.big22 {
font-family: '\5FAE\8EDF\6B63\9ED1\9AD4', 'Microsoft JhengHei', 'Apple LiGothic Medium', 'simhei', 'Microsoft YaHei', Arial; 
font-size: 18px;
line-height: 28px;
color: #000; 
text-shadow: 0 0 1px  #AAA;
}

.big13 {
font-family: '\5FAE\8EDF\6B63\9ED1\9AD4', 'Microsoft JhengHei', 'Apple LiGothic Medium', 'simhei', 'Microsoft YaHei', Arial; 
font-size: 30px;
line-height: 35px;
color: #036; 
text-shadow: 0 0 1px  #069;
}

.big14 {
font-family: '\5FAE\8EDF\6B63\9ED1\9AD4', 'Microsoft JhengHei', 'Apple LiGothic Medium', 'simhei', 'Microsoft YaHei', Arial; 
font-size: 30px;
line-height: 35px;
color: #063; 
text-shadow: 0 0 1px #096;
}

.is_flip {
filter: fliph;
filter: fliph();
transform: scaleX(-1);
-ms-filter: "FlipH";
-moz-transform: matrix(-1, 0, 0, 1, 0, 0); 
-webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
filter: DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
}

.multidraggable_ex {
}
