.RGBColorBlockStyle {
    justify-content: center;
    align-items: end;
    position: absolute;
    z-index: 9997;
    width: 54px;
    height: 54px;
    background-color: #000000eb;
    border-style: solid;
    border-color: #ff5700;
    box-sizing: border-box;
    border-radius: 16%;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.PERKEYBlockStyle {
    justify-content: center;
    align-items: end;
    position: absolute;
    z-index: 9997;
    width: 54px;
    height: 54px;
    background-color: #000000eb;
    border-style: solid;
    border-color: #ff5700;
    box-sizing: border-box;
    border-radius: 16%;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}