<!-- <p>
  NumpadKeyboard works!
</p> -->



<!-- <img id="GMMK_img" src="/graphic/Side Light.png"
style="z-index: 3;" />

<img id="GMMK_img" src="/graphic/Side Light.png"
style="z-index: 3;" />

<img id="GMMK_img" src="/graphic/GMMK NumPad.png"
style="z-index: 3;" /> -->
<div class="topbar-group-item">
    <div id="Openlighting" class="block">
        <div class="topbar-item" [ngStyle]="{
                'border-color': this.lightingflag === true ? 'rgb(253, 186, 59)' : 'rgb(49, 49, 49)'
            }" (click)="changeKeyboardTopbar(1)">
            'Lighting'
        </div>
        <div class="line" [ngStyle]="{ 'background-color': this.lightingflag === true ? 'rgb(253, 186, 59)' : '' }">
        </div>
    </div>
    <div id="Openkeybinding" class="block">
        <div class="topbar-item" [ngStyle]="{
                'border-color': this.keybindingflag === true ? 'rgb(253, 186, 59)' : 'rgb(49, 49, 49)'
            }" (click)="changeKeyboardTopbar(2)">
            'Keybinding'
        </div>
        <div class="line" [ngStyle]="{ 'background-color': this.keybindingflag === true ? 'rgb(253, 186, 59)' : '' }">
        </div>
    </div>
    <div id="OpenPerformance" class="block">
        <div class="topbar-item" [ngStyle]="{
                'border-color': this.performanceflag === true ? 'rgb(253, 186, 59)' : 'rgb(49, 49, 49)'
            }" (click)="changeKeyboardTopbar(3)">
            'Performance'
        </div>
        <div class="line" [ngStyle]="{ 'background-color': this.performanceflag === true ? 'rgb(253, 186, 59)' : '' }">
        </div>
    </div>
</div>
<div id="EventCanBoxSelectRange" class="Keyboard-content">
    <div id="GMMK_0x320F0x5044" class="Content1">
        <div id="canvasArea" style="width: auto;height: 372px;display: flex;    background: #ff000036;">
            <!-- <img id="GMMK_img" src="./ZZZ/GMMK3.png" style="z-index: 3;" /> -->
            <!-- <img src="/graphic/GMMK NumPad.png" style="    position: sticky;
                    pointer-events: none;
                    align-self: center;
                    margin-left: 2%;
                margin-right: 2%;
            " /> -->
            <!-- <img id="GMMK_img" src="./G444.png" style="z-index: 3;" />
            <img id="GMMK_img" src="./G7.png" style="z-index: 3;" /> -->
            <img id="GMMK_img" src="image/G_Project/Side Light.png" style="z-index: 3;" />
            <img id="GMMK_img" src="image/G_Project/GMMK NUMPAD.png" style="z-index: 3;" />
            <img id="GMMK_img" src="image/G_Project/Side Light.png" style="z-index: 3;" />

            <div id="keyAssignPromptline" style="background-color: rgb(255,0,0);
                        position: absolute;
                        width: 20px;
                        height: 1px;
                        z-index: 9999;
                        margin-left: -200px;">
                <div id="keyAssignPrompt" class="triangleStyle" style="position: absolute;
                                    z-index: 20;
                                    margin-left: -22px;
                                    margin-top: -19px;
                                      " [style.display]="keybindingflag && !this.KeyBoardManager.notClickedYet ? 'flex' : 'flex'">
                    <div class="rectángulo" id="rectángulo" style="    top: -58px;
                    left: -190px;
                    width: 170px;
                    height: 115px;
                    position: absolute;;">
                        <div id="KeyDefaultValue" style="    color: white;
                        width: 80%;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                        text-align: center;
                        margin-top: -60px;">
                            {{ getDeviceDefaultKey() }}
                        </div>
                        <div id="SingleKeyClass" style="    position: absolute;
                        color: white;">
                            {{ this.KeyBoardManager.getTarget().getNowModeTargetMatrixKey().recordBindCodeType }}
                        </div>
                        <div id="SingleKeyAssignValue" style="position: absolute;
                        color: white;
                        margin-top: 56px;
                        width: 50%;
                        overflow: hidden;
                        white-space: nowrap;
                        text-align: center;">
                            {{ switchChangAllkey() }}
                        </div>
                    </div>
            
                </div>
            </div>
            <!-- <img id="GMMK_img" src="/image/DarkAlert.jpg/" style="z-index: 3;" /> -->



            <div id="PERKEY_UI_section" style="position: absolute;
            display: flex;
            WIDTH: auto;
            HEIGHT: 100%;">
                <div *ngFor="let item of KeyBoardStyle.getTarget().keyMapping; let i = index" class="PERKEYBlockStyle"
                    [ngStyle]="{'background':this.M_Light_PERKEY.getIndexRGBPerkeyCss(i)}" [attr.data-index]="i"></div>
            </div>
            <div id="KeyAssignBlock_section" style="position: absolute;
            display: flex;
            WIDTH: auto;
            HEIGHT: 100%;">
                <div id="KeyAssignBlock" [ngStyle]="{display: keybindingflag ? 'flex' : 'none'}"
                    *ngFor="let item of KeyBoardStyle.getTarget().keyMapping; let i = index"
                    (mouseover)="this.KeyBoardManager.getTarget().keyHoverIndex = i"
                    [style.background-color]="setkeyUIColor(i)" class="KeyAssignUIStyle">
                    <div [ngClass]="{KeyAssignHasValue:this.KeyBoardManager.getTarget().getNowModeKeyMatrix()[i].changed}"
                        [attr.id]="'KeyAssignHasValue'+i" class="KeyAssignHasValue">{{getAssignKeyTipStyle(i)}}
                    </div>
                </div>
            </div>
            <div id="LayersIconUI" (click)="changeProfileLayer()" style="align-self: center; text-align: center"
                *ngIf="this.keybindingflag || this.lightingflag">
                <img src="image/G_Project/LayersIcon{{this.KeyBoardManager.getProfileLayerIndex()}}.png">

                <div style="margin-top: 10px; color: rgb(68, 68, 67)">
                    Layers
                </div>
            </div>
        </div>