<div class="Keyboard">
    <div class="Keyboard-left">
        <div class="Keyboard-topbar">

            <div class="topbar-group-item">
                <div id="Openlighting" class="block">
                    <div class="topbar-item" [ngStyle]="{
                                    'border-color': this.lightingflag === true ? 'rgb(253, 186, 59)' : 'rgb(49, 49, 49)'
                                }" (click)="changeKeyboardTopbar(1)">
                        {{i18nManager.getTarget('Lighting')}}
                    </div>
                    <div class="line"
                        [ngStyle]="{ 'background-color': this.lightingflag === true ? 'rgb(253, 186, 59)' : '' }">
                    </div>
                </div>
                <div id="Openkeybinding" class="block">
                    <div class="topbar-item" [ngStyle]="{
                    'border-color': this.keybindingflag === true ? 'rgb(253, 186, 59)' : 'rgb(49, 49, 49)'}" (click)="changeKeyboardTopbar(2)">
                        {{i18nManager.getTarget('Keybinding')}}
                    </div>
                    <div class="line"
                        [ngStyle]="{ 'background-color': this.keybindingflag === true ? 'rgb(253, 186, 59)' : '' }">
                    </div>
                </div>
                <div id="OpenPerformance" class="block">
                    <div class="topbar-item" [ngStyle]="{
                    'border-color': this.performanceflag === true ? 'rgb(253, 186, 59)' : 'rgb(49, 49, 49)'
                }" (click)="changeKeyboardTopbar(3)">
                        {{i18nManager.getTarget('Performance')}}
                    </div>
                    <div class="line"
                        [ngStyle]="{ 'background-color': this.performanceflag === true ? 'rgb(253, 186, 59)' : '' }">
                    </div>
                </div>
            </div>
        </div>
        <div id="EventCanBoxSelectRange" class="Keyboard-content">
            <div id="GMMK_0x320F0x5044" class="Content1">
                <div id="canvasArea" style="width: auto;height: 372px;display: flex;">
                    <div id="GMMK_img_section" style="
                                        WIDTH: auto;
                                        HEIGHT: 100%;z-index: 6668;
                        pointer-events: none;
                        
                        user-select: none;">
                    <img id="GMMK_img" src="image/G_Project/Side Light.png" />
                    <img id="GMMK_img" style="    margin-left: 20px;
                    margin-right: 20px;" src="image/G_Project/GMMK NUMPAD.png"  />
                    <img id="GMMK_img" src="image/G_Project/Side Light.png"/>
                    </div>
                    <div id="keyAssignPromptline" style="background-color: rgb(255,255,255);
                                                        position: absolute;
                                                        width: 20px;
                                                        height: 1px;
                                                        z-index: 7000;
                                                        margin-left: -200px;">
                        <div id="keyAssignPrompt" class="triangleStyle" style="position: absolute;
                                                                    z-index: 20;
                                                                    margin-left: -22px;
                                                                    margin-top: -19px;
                                                                      "
                            [style.display]="keybindingflag && !this.KeyBoardManager.notClickedYet ? 'flex' : 'flex'">
                            <div class="rectángulo" id="rectángulo" style="    top: -58px;
                                                    left: -190px;
                                                    width: 170px;
                                                    height: 115px;
                                                    position: absolute;;">
                                <div id="KeyDefaultValue" style="color:white;width: 80%;text-overflow: ellipsis;
                                overflow: hidden;white-space: nowrap;text-align: center;margin-top:-60px;">
                                    {{ getDeviceDefaultKey()}}
                                </div>
                                <div id="SingleKeyClass" style="position: absolute;color: white;">
                                    {{ this.KeyBoardManager.getTarget().getNowModeTargetMatrixKey().recordBindCodeType }}
                                </div>
                                <div id="SingleKeyAssignValue" style="position: absolute;
                                                        color: white;
                                                        margin-top: 56px;
                                                        width: 50%;
                                                        overflow: hidden;
                                                        white-space: nowrap;
                                                        text-align: center;">
                                    {{ switchChangAllkey() }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="PRESETS_UI_section" style="position: absolute;
                    display: flex;
                    WIDTH: auto;
                    HEIGHT: 100%;z-index: 6666;">
                        <div 
                            *ngFor="let item of KeyBoardStyle.getTarget().keyMapping; let i = index" class="RGBColorBlockStyle"
                            [ngStyle]="{'background':this.M_Light_PRESETS.getIndexRGBCss(i)}"
                            [attr.data-index]="i"></div>
                    </div>
                    <div id="PERKEY_UI_section" style="position: absolute;
                        display: flex;
                        WIDTH: auto;
                        HEIGHT: 100%;z-index: 6667;">
                        <div *ngFor="let item of KeyBoardStyle.getTarget().keyMapping; let i = index"
                            class="PERKEYBlockStyle"
                            [ngStyle]="{'background':this.M_Light_PERKEY.getIndexRGBPerkeyCss(i)}"
                            [attr.data-index]="i"></div>
                    </div>
                    <div id="KeyAssignBlock_section" style="position: absolute;
                        display: flex;
                        WIDTH: auto;
                        HEIGHT: 100%;
                        z-index: 6669;">
                        <div id="KeyAssignBlock" [ngStyle]="{display: keybindingflag ? 'flex' : 'none'}"
                            *ngFor="let item of KeyBoardStyle.getTarget().keyMapping; let i = index"
                            (mouseover)="this.KeyBoardManager.getTarget().keyHoverIndex = i"
                            [style.background-color]="setkeyUIColor(i)" class="KeyAssignUIStyle">
                            <div [ngClass]="{KeyAssignHasValue:this.KeyBoardManager.getTarget().getNowModeKeyMatrix()[i].changed}"
                                [attr.id]="'KeyAssignHasValue'+i" class="KeyAssignHasValue">{{getAssignKeyTipStyle(i)}}
                            </div>
                        </div>
                    </div>
                    <div id="LayersIconUI" (click)="changeProfileLayer()" style="align-self: center; text-align: center"
                        *ngIf="this.keybindingflag || this.lightingflag">
                        <img src="image/G_Project/LayersIcon{{this.KeyBoardManager.getProfileLayerIndex()}}.png">

                        <div style="margin-top: 10px; color: rgb(68, 68, 67)">
                            Layers
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div [style.width]="this.lightingflag||this.keybindingflag||this.performanceflag?'400px':'0px'"
        class="Keyboard-right" id="Keyboard-right">
        <img id="Keyboard-right-titile" src="image/Lighting-title.png" draggable="false" />
        <img id="Keyboard-Close-RightContent" class="close" src="image/dialog/CloseIcon.png" draggable="false"
            (click)="closeRightContent()">
                <!----------------------------------------------------------------lighting----------------------------------------------------------------------------->
                <div class="right-content" *ngIf="this.lightingflag">
                    <div
                        id="PageTitleButton"
                        class="sub-list"
                        style="
                            font-size: 14px;
                            justify-content: space-between;
                            display: flex;
                            width: 80%;
                            margin-left: 10%;
                            margin-top: 6%;
                            cursor: pointer;
                        ">
                        <div
                            class="sub-list-item"
                            [style.borderBottom]="lightingPage == 'PRESETS' ? '1px #313131 solid' : ''"
                            style="height: 2.3vh;
                            margin-left: 60px;"
                            (click)="SetLightingGroup('PRESETS')"
                        >
                            PRESETS
                        </div>
                        <div
                            class="sub-list-item"
                            [style.borderBottom]="lightingPage == 'PERKEY' ? '1px #313131 solid' : ''"
                            style="height: 2.3vh;margin-right: 60px;"
                            (click)="SetLightingGroup('PERKEY')"
                        >
                            PERKEY 
                        </div>
                    </div>
                    <div id="PRESETSAreaUI" *ngIf="lightingPage == 'PRESETS'">
                        <div data-code="Syncacrosskeyboard" class="list">
                            <div class="sub-list" style="margin-bottom: 20px">
                                Syncacrosskeyboard
                                <label>
                                    <input
                                        type="checkbox"
                                        [(ngModel)]="SyncCrossKeyboardCheckValue"
                                        (ngModelChange)="SyncCrossKeyboardCheckChange()"
                                    />
                                    <span></span>
                                </label>
                            </div>
                            <div class="sub-list" style="margin-bottom: 20px;white-space: nowrap;">
                                Indicate caps lock on with blinking side lights
                                <label>
                                    <input
                                        type="checkbox"
                                        [(ngModel)]="this.KeyBoardManager.sideLightSwitch"
                                    />
                                    <span></span>
                                </label>
                            </div>                   
                        </div>
                        <div data-code="lightSelected_UI" class="list">
                            EFFECT
                            <div class="sub-list">
                                <app-commonselect class="app-lightingeffectselect" [componentId]="'app-lightingeffectselect'"
                                    [inputoption]="this.Built_ineffect.ListData" [i18nManager]="this.i18nManager"
                                    [(ngModel)]="this.Built_ineffect.Built_inSelected" (ngModelChange)="Built_inSelectedChange()">
                                </app-commonselect>
                                <!-- <div (mouseover)="QuestionMarkStatus='PRESETSAreaTip'" (mouseleave)="QuestionMarkStatus=''"
                                    *ngIf="this.getAppService.getAppSetting().tooltip" class="QuestionMark">?
                                    <div class="triangleStyle" *ngIf="QuestionMarkStatus=='PRESETSAreaTip' || QuestionMarkStatus=='ALL'"
                                        id="PRESETSAreaTip" style="margin-top: 17px;position: absolute;">
                                        <div class="rectángulo" id="rectángulo" style="top: 31px;
                                                            left: -225px;
                                                            width: 362px;
                                                            height: 67px;
                                                            position: absolute;
                                                            font-size: 12px;
                                                            line-height: 16px;">
                                            <div style="width: 92%;">
                                                Select a preset lighting effect to apply to the entire keyboard.<br> Preset effects apply underneath
                                                any
                                                Per Key settings.</div>
                                        </div>
                            
                                    </div>
                                </div> -->
                            
                            </div>
                           
                            <div *ngIf="this.Built_ineffect.Built_inSelected.Multicolor_Enable" class="sub-list">
                                RGB(Fixed)
                                <label>
                                    <input
                                        type="checkbox"
                                        [(ngModel)]="this.Built_ineffect.Built_inSelected.Multicolor"
                                        (ngModelChange)="multicolor_Change()"
                                    />
                                    <span></span>
                                </label>
                            </div>
        
                        </div>
        
                        <div [style.display]="this.Built_ineffect.Built_inSelected.rate_Enable? 'flex' : 'none'"
                        id="RateContent" class="list" >
                            <div class="sub-list">
                                <img src="image/lighting/RateIcon.png" />
                                Rate
                            </div>
                            <div class="sub-list">
                                <input
                                    id="PRESETS_RateSlider"
                                    type="range"
                                    min="0"
                                    max="100"
                                    class="slider"
                                    step="5"
                                    [(ngModel)]="this.Built_ineffect.Built_inSelected.speed"
                                    (mouseup)="sliderChange()"
                                    [ngStyle]="{'background': lightSliderMove('PRESETS_RateSlider')}"
                                    onkeydown="event.preventDefault()"
                                />
                                <div>{{ this.Built_ineffect.Built_inSelected.speed }}%</div>
                            </div>
                        </div>
                        <div [style.display]="this.Built_ineffect.Built_inSelected.brightness_Enable? 'flex' : 'none'"
                        id="BrightnessContent">
                            <div class="list">
                                <div class="sub-list">
                                    <img src="image/lighting/BrightnessIcon.png" draggable="false" />
                                    Brightness
                                </div>
                                <div class="sub-list" *ngIf="!BrightnessFlag">
                                    <input id="PRESETS_BrightnessSlider" type="range" min="0" max="100" class="slider" step="5"
                                        [(ngModel)]="this.Built_ineffect.Built_inSelected.brightness"
                                        (mouseup)="sliderChange()"
                                        [ngStyle]="{'background': lightSliderMove('PRESETS_BrightnessSlider')}"
                                        onkeydown="event.preventDefault()" />
                                    <div>{{ this.Built_ineffect.Built_inSelected.brightness }}%</div>
                                </div>
                            </div>
        
                        </div>
                        <!-- [style.display]="this.Built_ineffect.Built_inSelected.color_Enable? 'flex' : 'none'" -->
                        <div *ngIf="this.Built_ineffect.Built_inSelected.color_Enable"
                         id="ColorContent" class="list" style="font-family: MM, serif">
                         color
                            <div class="sub-list">
                                <ng-color-box
                                    class="colorpicker"
                                    id="mouse-colorpicker"
                                    [(ngModel)]="colordata"
                                    (ngModelChange)="colorPickerChange($event)"
                                    [startHex]="startcolor"
                                ></ng-color-box>
                                <div class="color-content">
                                    <div class="color-detail">
                                        <div class="color-title">
                                            Red
                                        </div>
                                        <input
                                            maxlength="3"
                                            [(ngModel)]="this.Built_ineffect.Built_inSelected.colorPickerValue[0]"
                                            min="0"
                                            max="255"
                                            (change)="setRGBcolor()"
                                            onkeypress="return (/[\d]/.test(String.fromCharCode(event.keyCode)))"
                                        />
                                    </div>
                                    <div class="color-detail" style="margin-top: 20px">
                                        <div class="color-title">
                                            Green
                                        </div>
                                        <input
                                            maxlength="3"
                                            [(ngModel)]="this.Built_ineffect.Built_inSelected.colorPickerValue[1]"
                                            min="0"
                                            max="255"
                                            (change)="setRGBcolor()"
                                            onkeypress="return (/[\d]/.test(String.fromCharCode(event.keyCode)))"
                                        />
                                    </div>
                                    <div class="color-detail" style="margin-top: 20px">
                                        <div class="color-title">
                                            Blue
                                        </div>
                                        <input
                                            maxlength="3"
                                            [(ngModel)]="this.Built_ineffect.Built_inSelected.colorPickerValue[2]"
                                            min="0"
                                            max="255"
                                            (change)="setRGBcolor()"
                                            onkeypress="return (/[\d]/.test(String.fromCharCode(event.keyCode)))"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="PERKEYAreaUI" *ngIf="lightingPage == 'PERKEY'">
                        <div (mouseover)="QuestionMarkStatus='PERKEYAreaTip'" 
                        (mouseleave)="QuestionMarkStatus=''" class="QuestionMark" *ngIf="this.getAppService.getAppSetting().tooltip" style="right: 145px;position: absolute;top: 154px;">?</div>
                        <div class="triangleStyle" *ngIf="QuestionMarkStatus=='PERKEYAreaTip' || QuestionMarkStatus=='ALL'" id="PERKEYAreaTip" style="
                            top: 148px;
                            right: 132px;
                            position: absolute;">
                        <div class="rectángulo" id="rectángulo" style="top: 28px;
                        left: -220px;
                        width: 350px;
                        height: 101px;
                        position: absolute;">
                            <div style="width: 94%;">
                                The pencil allows you to apply lighting to individual keys by clicking them or groups of keys using Quick Key Selection. The eraser allows you to remove lighting from keys in the same way.<br> Per key lighting applies over Preset effects.</div>
                        </div>
                        </div>
                        <div id="Text_key" class="list">
                            <div class="sub-list">
                                KEY
                                <div style="font-size: 14px;
                                width: auto;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                height: 20px;
                                border: 1px solid #313131;
                                border-radius: 6px;
                                border-color: #fdba3b;
                                padding: 9px;
                                margin-left: 7px;
                                letter-spacing: 2px;">{{this.M_Light_PERKEY.settingPerkeyName}}
                                </div>
                                <img (click)="switchSelectionStatus(true)" 
                                style="right: 80px; position: absolute"
                                [style.border]="selectionStatus?'#fdba3b 2px solid':''"
                                    src="image/lighting/Edit Icon.png" />
                                <img (click)="switchSelectionStatus(false)" 
                                style="right: 47px; position: absolute"
                                [style.border]="!selectionStatus?'#fdba3b 2px solid':''"
        
                                    src="image/lighting/Erase Icon.png" />
                            </div>
                        </div>
                        <div id="lightDropList" class="list">
                            EFFECT
                            <app-commonselect style="height: 40px;
                            width: 200px;
                            margin-left: -10px;
                            font-family: MM, serif;
                            letter-spacing: 0px;
                            font-size: 13px;
                            z-index: 30;"
                                class="PERKEYA_EffectSelect"
                                [componentId]="'PERKEYA_EffectSelect'"
                                [inputoption]="lighting_PERKEY_Effect"
                                [(ngModel)]="lighting_PERKEY_SelectEffect"
                                (ngModelChange)="PERKEY_SelectChange()"
                            ></app-commonselect>
                        </div>
        
                        <div id='html_LayoutSelect' class="list">
                            LAYOUT
                            <app-commonselect
                                class="app-LayoutSelectUI"
                                [componentId]="'app-LayoutSelectUI'"
                                [inputoption]="this.LayoutManager.layoutSelectData"
                                [(ngModel)]="this.LayoutManager.nowlayoutSelect"
                                (ngModelChange)="this.onLayoutSelectChange()"
                                style="width: 200px;
                                font-family: MM, serif;
                                font-size: 13px;
                                letter-spacing: 0px;
                                height: 32px;
                                margin-left: -8px;
                                z-index: 30;
                                "
                            >
                            </app-commonselect>
                        </div>
                        <div id='html_LayoutName' class="list">
                            NAMEYOURLAYOUT
                            <input
                                class="nowMacroName"
                                id="setMacroName"
                                [(ngModel)]='this.LayoutManager.nowEditName'
                                (blur)="this.LayoutManager.NameInputBlur()"
                                min="0"
                                max="255"
                                placeholder="Macro Name Here"
                            />
                        </div>
        
                        <div id="PERKEY_BREATHING" class="list" style="flex-direction: row;">
                            <div class="sub-list" style="font-family: MB, serif; font-size: 15px; margin-top: 0px; letter-spacing: 2px;">
                                BREATHING
                            </div>
                            <label>
                                <input type="checkbox" [(ngModel)]='this.PERKEY_lightData.breathing' (ngModelChange)="PerKeyBreathingChange()">
                                <span></span>
                            </label>
                        </div>
        
                        <div id="PERKEY_Brightness">
                            <div class="list">
                                <div class="sub-list">
                                    <img src="image/lighting/BrightnessIcon.png" />
                                    Brightness
                                </div>
                                <div class="sub-list">
                                    <input id="PERKEY_BrightnessSlider" type="range" min="0" max="100" class="slider" step="5"
                                        [(ngModel)]="this.PERKEY_lightData.brightness" (mouseup)="sliderChange()" 
                                        [ngStyle]="{'background': PERKEY_BrightnessSlider_Background()}"
                                        (ngModelChange)="lightSliderMove('PERKEY_BrightnessSlider')"
                                        onkeydown="event.preventDefault()" />
                                    <div>{{ this.PERKEY_lightData.brightness }}%</div>
                                </div>
                            </div>
                        </div>
                        <div id="ColorContent" class="list" style="font-family: MM, serif">
                            color
                            <div class="sub-list">
                                <ng-color-box
                                    class="colorpicker"
                                    id="mouse-colorpicker"
                                    [(ngModel)]="colordata"
                                    (ngModelChange)="colorPickerChange($event)"
                                    [startHex]="startcolor"
                                ></ng-color-box>
                                <div class="color-content">
                                    <div class="color-detail">
                                        <div class="color-title">
                                            Red
                                        </div>
                                        <input
                                            maxlength="3"
                                            [(ngModel)]="this.PERKEY_lightData.colorPickerValue[0]"
                                            min="0"
                                            max="255"
                                            (change)="setRGBcolor()"
                                            onkeypress="return (/[\d]/.test(String.fromCharCode(event.keyCode)))"
                                        />
                                    </div>
                                    <div class="color-detail" style="margin-top: 20px">
                                        <div class="color-title">
                                            Green
                                        </div>
                                        <input
                                            maxlength="3"
                                            [(ngModel)]="this.PERKEY_lightData.colorPickerValue[1]"
                                            min="0"
                                            max="255"
                                            (change)="setRGBcolor()"
                                            onkeypress="return (/[\d]/.test(String.fromCharCode(event.keyCode)))"
                                        />
                                    </div>
                                    <div class="color-detail" style="margin-top: 20px">
                                        <div class="color-title">
                                            Blue
                                        </div>
                                        <input
                                            maxlength="3"
                                            [(ngModel)]="this.PERKEY_lightData.colorPickerValue[2]"
                                            min="0"
                                            max="255"
                                            (change)="setRGBcolor()"
                                            onkeypress="return (/[\d]/.test(String.fromCharCode(event.keyCode)))"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>    
        <!----------------------------------------------------------------Keybinding----------------------------------------------------------------------------->

        <div class="right-content" *ngIf="this.keybindingflag">
            <ng-container *ngIf="getNowKeyBindClassUI('Num Lock')">
            <div class="list" style="margin-top: 10px">
                <div class="KeybindingClassArea_item" >
                    <div class="sub-list-item" [style.borderBottom]="
                KeyAssignManager.recordBindCodeType == 'SingleKey' ? '1px #313131 solid' : ''
            " (click)="SetGroupFunction('SingleKey','KeyA')">
            {{i18nManager.getTarget('SINGLE KEY / COMBINATION KEY')}} 
                    </div>
                </div>
            </div>
            <div class="list" style="margin-top: -10px; width: 85%; margin-left: 7.5%">
                <div class="KeybindingClassArea_item">
                    <div class="sub-list-item" [style.borderBottom]="
                KeyAssignManager.recordBindCodeType == 'KEYBOARD' ? '1px #313131 solid' : ''
            " (click)="SetGroupFunction('KEYBOARD','KEYBOARD_Fun_10')">
                        KEYBOARD FUNCTION
                    </div>
                    <div class="sub-list-item"
                        [style.borderBottom]="KeyAssignManager.recordBindCodeType == 'MOUSE' ? '1px #313131 solid' : ''"
                        (click)="SetGroupFunction('MOUSE','MOUSE_Fun_14')">
                        MOUSE FUNCTION
                    </div>
                </div>
            </div>
            <div class="list" style="margin-top: -10px; width: 85%; margin-left: 7.5%">
                <div class="KeybindingClassArea_item">
                    <div class="sub-list-item" [style.borderBottom]="
                KeyAssignManager.recordBindCodeType == 'MacroFunction' ? '1px #313131 solid' : ''
            " (click)="SetGroupFunction('MacroFunction','MacroFunction')">
                        MACRO
                    </div>
                    <div class="sub-list-item" [style.borderBottom]="
                KeyAssignManager.recordBindCodeType == 'Multimedia' ? '1px #313131 solid' : ''
            " (click)="SetGroupFunction('Multimedia','Multimedia_Fun_0')">
                        MULTIMEDIA
                    </div>
                    <div class="sub-list-item" [style.borderBottom]="KeyAssignManager.recordBindCodeType == 'Shortcuts' 
            || KeyAssignManager.recordBindCodeType == 'LaunchWebsite'
            || KeyAssignManager.recordBindCodeType == 'LaunchProgram'  ? '1px #313131 solid' : ''
            " (click)="SetGroupFunction('LaunchProgram','LaunchProgram')">
                        SHORTCUTS
                    </div>
                </div>
            </div>
            <div class="list" style="margin-top: -10px">
                <div class="KeybindingClassArea_item" >
                    <div class="sub-list-item" [style.borderBottom]="
                            KeyAssignManager.recordBindCodeType == 'SOUND CONTROL' ? '1px #313131 solid' : ''
                        " (click)="SetGroupFunction('SOUND CONTROL','Disable_Fun35')">
                        SOUND CONTROL
                    </div>
                    <div class="sub-list-item" [style.borderBottom]="
                                KeyAssignManager.recordBindCodeType == 'Disable' ? '1px #313131 solid' : ''
                            " (click)="SetGroupFunction('Disable','Disable_Fun35')">
                        DISABLE
                    </div>
                </div>
            </div>
            </ng-container>
            <ng-container *ngIf="getNowKeyBindClassUI('Slider')">
                <div class="list" style="margin-top: 20px;">
                    <div class="KeybindingClassArea_item" >
                        <div class="sub-list-item" [style.borderBottom]="
                                KeyAssignManager.recordBindCodeType == 'SOUND CONTROL' ? '1px #313131 solid' : ''
                            " (click)="SetGroupFunction('SOUND CONTROL','Disable_Fun35')">
                            SOUND CONTROL
                        </div>
                        <div class="sub-list-item" [style.borderBottom]="
                                    KeyAssignManager.recordBindCodeType == 'Disable' ? '1px #313131 solid' : ''
                                " (click)="SetGroupFunction('Disable','Disable_Fun35')">
                            DISABLE
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="getNowKeyBindClassUI('ROTARY ENCODER')">
                <div class="list" style="margin-top: 10px">
                    <div class="KeybindingClassArea_item" >
                        <div class="sub-list-item" [style.borderBottom]="
                    KeyAssignManager.recordBindCodeType == 'SingleKey' ? '1px #313131 solid' : ''
                " (click)="SetGroupFunction('SingleKey','KeyA')">
                {{i18nManager.getTarget('SINGLE KEY / COMBINATION KEY')}} 
                        </div>
                    </div>
                </div>
                <div class="list" style="margin-top: -10px; width: 85%; margin-left: 7.5%">
                    <div class="KeybindingClassArea_item">
                        <div class="sub-list-item" [style.borderBottom]="
                    KeyAssignManager.recordBindCodeType == 'KEYBOARD' ? '1px #313131 solid' : ''
                " (click)="SetGroupFunction('KEYBOARD','KEYBOARD_Fun_10')">
                            KEYBOARD FUNCTION
                        </div>
                        <div class="sub-list-item"
                            [style.borderBottom]="KeyAssignManager.recordBindCodeType == 'MOUSE' ? '1px #313131 solid' : ''"
                            (click)="SetGroupFunction('MOUSE','MOUSE_Fun_14')">
                            MOUSE FUNCTION
                        </div>
                    </div>
                </div>
                <div class="list" style="margin-top: -10px; width: 85%; margin-left: 7.5%">
                    <div class="KeybindingClassArea_item">
                        <div class="sub-list-item" [style.borderBottom]="
                    KeyAssignManager.recordBindCodeType == 'MacroFunction' ? '1px #313131 solid' : ''
                " (click)="SetGroupFunction('MacroFunction','MacroFunction')">
                            MACRO
                        </div>
                        <div class="sub-list-item" [style.borderBottom]="
                    KeyAssignManager.recordBindCodeType == 'Multimedia' ? '1px #313131 solid' : ''
                " (click)="SetGroupFunction('Multimedia','Multimedia_Fun_0')">
                            MULTIMEDIA
                        </div>
                        <div class="sub-list-item" [style.borderBottom]="KeyAssignManager.recordBindCodeType == 'Shortcuts' 
                || KeyAssignManager.recordBindCodeType == 'LaunchWebsite'
                || KeyAssignManager.recordBindCodeType == 'LaunchProgram'  ? '1px #313131 solid' : ''
                " (click)="SetGroupFunction('LaunchProgram','LaunchProgram')">
                            SHORTCUTS
                        </div>
                    </div>
                </div>
                <div class="list" style="margin-top: -10px">
                    <div class="KeybindingClassArea_item" >
                        <div class="sub-list-item" [style.borderBottom]="
                                KeyAssignManager.recordBindCodeType == 'SOUND CONTROL' ? '1px #313131 solid' : ''
                            " (click)="SetGroupFunction('SOUND CONTROL','Disable_Fun35')">
                            SOUND CONTROL
                        </div>
                        <div class="sub-list-item" [style.borderBottom]="
                                    KeyAssignManager.recordBindCodeType == 'Disable' ? '1px #313131 solid' : ''
                                " (click)="SetGroupFunction('Disable','Disable_Fun35')">
                            DISABLE
                        </div>
                    </div>
                </div>
            </ng-container>
            <!-----------------------------------------------Single/Combination key ----------------------------------------------------------->
            <div *ngIf="KeyAssignManager.recordBindCodeType == 'SingleKey'"
                style="width: 90%; height: 70%; margin-left: 5%; margin-top: 20px">
                <div class="list" style="
                        margin-top: 15px;
                        margin-left: 0%;
                        width: 95%;
                        background-color: rgb(234, 233, 227);
                        padding: 10px;
                    ">
                    SELECTKEY
                    <div class="SingleKey">
                        <div class="sub-list" style="margin-top: 5px; margin-left: -12px"
                            *ngFor="let item of KeyboardKeyData">
                            <label style="margin-right: 5px">
                                <input type="radio" name="SingleKey" [attr.data-keyCode]="item.code"
                                    [checked]="KeyAssignManager.recordBindCodeName == item.code"
                                    (click)="KeyAssignManager.setNowCodeName(item.code, 'SingleKey')" />
                                <span></span>
                            </label>
                            {{ item.value }}
                        </div>
                    </div>
                </div>
                <div id="ChooseModifierList" class="list" style="
                        margin-top: 15px;
                        margin-left: 0%;
                        width: 95%;
                        background-color: rgb(234, 233, 227);
                        padding: 10px;
                    ">
                    <div class="sub-list" style="margin-top: 5px; font-family: MB, serif">
                        CHOOSEMODIFIER
                        <label style="margin-right: 5px">
                            <input type="checkbox" [(ngModel)]="KeyAssignManager.combinationkeyEnable"
                                (ngModelChange)="KeyAssignManager.setCombinationKeyEnable()" />
                            <span></span>
                        </label>
                    </div>
                    <div [ngStyle]="{
                            'pointer-events': KeyAssignManager.combinationkeyEnable == true ? 'auto' : 'none'
                        }">
                        <div class="sub-list" style="margin-top: 5px; margin-left: -12px">
                            <label style="margin-right: 5px">
                                <input type="checkbox" [(ngModel)]="KeyAssignManager.Shift" />
                                <span></span>
                            </label>
                            Shift
                        </div>
                        <div class="sub-list" style="margin-top: 5px; margin-left: -12px">
                            <label style="margin-right: 5px">
                                <input type="checkbox" [(ngModel)]="KeyAssignManager.Ctrl" />
                                <span></span>
                            </label>
                            Ctrl
                        </div>
                        <div class="sub-list" style="margin-top: 5px; margin-left: -12px">
                            <label style="margin-right: 5px">
                                <input type="checkbox" [(ngModel)]="KeyAssignManager.Alt" />
                                <span></span>
                            </label>
                            Alt
                        </div>
                        <div class="sub-list" style="margin-top: 5px; margin-left: -12px">
                            <label style="margin-right: 5px">
                                <input type="checkbox" [(ngModel)]="KeyAssignManager.Windows" />
                                <span></span>
                            </label>
                            Windows
                        </div>
                        <div class="sub-list" style="margin-top: 5px; margin-left: -12px">
                            <label style="margin-right: 5px">
                                <input type="checkbox" [(ngModel)]="KeyAssignManager.hasFNStatus" />
                                <span></span>
                            </label>
                            FN
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!----------------------------------------------------------------Performace----------------------------------------------------------------------------->
        <div class="right-content" *ngIf="this.performanceflag">
            <div class="list">
                <div class="sub-list">
                    {{i18nManager.getTarget('PollingRate')}}
                    <app-commonselect style="z-index: 9997;" class="app-pollingrateselect"
                        [componentId]="'app-pollingrateselect'" [inputoption]="PollingRateData"
                        [i18nManager]="this.i18nManager" [(ngModel)]="pollingrateSelect"
                        (ngModelChange)="PollingRateSelect()">
                    </app-commonselect>
                    <div (mouseover)="QuestionMarkStatus='performanceflagTip'" (mouseleave)="QuestionMarkStatus=''"
                        class="QuestionMark" style="right: 12%;">?</div>
                    <div class="triangleStyle"
                        *ngIf="QuestionMarkStatus=='performanceflagTip' || QuestionMarkStatus=='ALL'"
                        id="performanceflagTip" style="
                                        top: 111px;
                                        right: 146px;
                                        position: absolute;">
                        <div class="rectángulo" id="rectángulo" style="top: 28px;
                                left: -198px;
                                width: 354px;
                                height: 93px;
                                position: absolute;">
                            <div style="width: 91%;">
                                Polling Rate is how often your OS checks for input. This is a factor in determining the
                                maximum
                                input latency of key presses. A high polling rate takes up more CPU resources than lower
                                polling
                                rates.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sub-list">
                    {{i18nManager.getTarget('input Latency')}}
                    <app-commonselect class="app-inputLatencySelect" [componentId]="'app-inputLatencySelect'"
                        [i18nManager]="this.i18nManager" [inputoption]="inputLatencyData"
                        [(ngModel)]="inputLatencySelect" (ngModelChange)="InputLatencyOnSelect()">
                    </app-commonselect>
                </div>
            </div>
        </div>
        <div class="right-footer">
            <div class="button" (click)="ClickResetToDefault()"
                style="font-size: 14px; background-color: transparent; text-decoration: underline; letter-spacing: 0px">
                {{i18nManager.getTarget('ResettoDefault')}}
            </div>
            <div class="button" (click)="keyBindSave()">
                {{i18nManager.getTarget('SAVE')}}
            </div>
        </div>
    </div>
</div>