

:host{
    width: 100%;
}

.Keyboard-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: calc(100%);
    background: #f7d0d04f;
}
.Keyboard-content .Content1{
    
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.triangleStyle{
    border-color: #0000 #0000 #0000 #313131;
    border-style: solid;
    border-width: 20px 20px 20px 20px;
    z-index: 9999;
    }
.rectángulo{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        color: #fff;
        background-color: #313131;
        line-height: 16px;
        letter-spacing: 0px;
}
.topbar-group-item {
    display: flex;
}
.topbar-group-item .block {
        display: flex;
        flex-direction: column;
        height: 50px;
}
.topbar-group-item .topbar-item {
            justify-content: center;
            align-items: center;
            display: flex;
            width: 200px;
            height: 40px;
            background-color: transparent;
            border: 1px solid rgb(253, 186, 59);
            margin-right: 15px;
            border-radius: 5px;
            cursor: pointer;
            letter-spacing: 2px;
            font-size: 14px;
        }
.topbar-group-item .line {
    width: 200px;
    margin-top: 5px;
    height: 2px;
}

