
#dragArea {
    width:200px;
    border-style:dashed;
    border-width:0.2em;
    height:200px;
}
h4 {
    margin:20px auto 10px;
}
.ChildDataStyle{
    color: blue;
    display: flex;
    font-size: 1vh;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    background: red;
    box-sizing: border-box;
    margin-left: 5px;
    margin-top: 5px;

}

.PluginListChildDataStyle{
    color: blue;
    display: flex;
    font-size: 1vh;
    align-items: center;
    height: auto;
    width: 100%;
    background: #ff000040;
    box-sizing: border-box;
    margin: 5px;
    flex-wrap: wrap;
}